In [690]:
import pandas as pd
import re
pattern = '/.*/'
prog = re.compile( pattern )

def table(data):
    datatable = {}
    for i in data:
        if i in datatable:
            datatable[i] += 1
        else:
            datatable[i] = 1
    return datatable


Ds = open('URLs.txt', 'r')
a = []
for raw in Ds:
    if prog.match(raw) :
        line_name = raw.split('/')[1]
        tab = table(line_name)
        summ_po_temam = sum(tab.values())
        a += (line_name, int(summ_po_temam))
print(a)

['starlife', 8, 'world', 5, 'latest', 6, 'incidents', 9, 'politics', 8, 'business', 8, 'moscow_city', 11, 'head', 4, 'politics', 8, 'world', 5, 'science', 7, 'video', 5, 'world', 5, 'science', 7, 'sport', 5, 'middleeast', 10, 'economics', 9, 'politics', 8, 'travel', 6, 'politics', 8, 'video', 5, 'starlife', 8, 'health', 6, 'science', 7, 'cis', 3, 'incidents', 9, 'politics', 8, 'world', 5, 'politics', 8, 'world', 5, 'politics', 8, 'middleeast', 10, 'sport', 5, 'crazy-world', 11, 'crazy-world', 11, 'incidents', 9, 'video', 5, 'auto', 4, 'health', 6, 'scitech', 7, 'business', 8, 'video', 5, 'lifestyle', 9, 'head', 4, 'latest', 6, 'head', 4, 'cis', 3, 'video', 5, 'video', 5, 'incidents', 9, 'video', 5, 'business', 8, 'articles', 8, 'science', 7, 'world', 5, 'science', 7, 'politics', 8, 'cis', 3, 'starlife', 8, 'finances', 8, 'starlife', 8, 'starlife', 8, 'starlife', 8, 'politics', 8, 'articles', 8, 'articles', 8, 'starlife', 8, 'starlife', 8, 'business', 8, 'world', 5, 'starlife', 8, 'europe', 6, 'middleeast', 10, 'video', 5, 'articles', 8, 'business', 8, 'politics', 8, 'kinomusic', 9, 'starlife', 8, 'lifestyle', 9, 'articles', 8, 'politics', 8, 'economics', 9, 'incidents', 9, 'starlife', 8, 'sport', 5, 'articles', 8, 'video', 5, 'world', 5, 'articles', 8, 'starlife', 8, 'economics', 9, 'starlife', 8, 'cis', 3, 'video', 5, 'science', 7, 'incidents', 9, 'world', 5]

In [691]:
quantity = [ x for x in a if type(x) == int]
quality = [ y for y in a  if type(y) == str ]

In [692]:
categoriesDict = dict( zip(quality, quantity) )
print( categoriesDict )

{'starlife': 8, 'world': 5, 'latest': 6, 'incidents': 9, 'politics': 8, 'business': 8, 'moscow_city': 11, 'head': 4, 'science': 7, 'video': 5, 'sport': 5, 'middleeast': 10, 'economics': 9, 'travel': 6, 'health': 6, 'cis': 3, 'crazy-world': 11, 'auto': 4, 'scitech': 7, 'lifestyle': 9, 'articles': 8, 'finances': 8, 'europe': 6, 'kinomusic': 9}

In [693]:
datadict = {
    'Название': quality,
    'Количество': quantity
}
hello = pd.DataFrame.from_dict(datadict)

In [694]:
yo = hello.groupby( 'Название' ).mean()

In [695]:
yo.sort_values(by = 'Количество', ascending = False ).reset_index()

       Название  Количество
0   moscow_city          11
1   crazy-world          11
2    middleeast          10
3     economics           9
4     incidents           9
5     kinomusic           9
6     lifestyle           9
7      articles           8
8      business           8
9      starlife           8
10     finances           8
11     politics           8
12      scitech           7
13      science           7
14       travel           6
15       latest           6
16       health           6
17       europe           6
18        sport           5
19        video           5
20        world           5
21         auto           4
22         head           4
23          cis           3